@font-face {
    font-family: sourceSansPro;
    src: url(http://ec2-3-95-10-127.compute-1.amazonaws.com:9000/assets/fonts/SourceSansPro-Light.ttf)
}

@font-face { 
    font-family: sourceSansProBold;
    src: url(http://ec2-3-95-10-127.compute-1.amazonaws.com:9000/assets/fonts/SourceSansPro-Bold.ttf)
}
