@import './covid/common.css';

.mainContainer { 
  display: flex;
  flex-direction: row;
}

.selectorContainer {
  font-family: sourceSansPro;
  width: 190px;
  height: 800px;
}

.selectorContainer a {
  font-family: sourceSansPro;
  padding: 5px;
  text-decoration: none;
}

.selectorContainer a:visited {
  color: red;
}

.selectorContainer a:link {
  color: red;
}

.selectorContainer .active {
  background-color: lightgray;
  border-radius: 25px;
}

.selectorContainer td {
  padding-top: 5px;
}

.displayContainer {
  font-family: sourceSansPro;
}
