@import './common.css';

.mainContainer { 
  display: flex;
  flex-direction: row;
}

.selectorContainer {
  font-family: sourceSansPro;
  width: 110px;
  height: 800px;
}

.selectorContainer a {
  padding: 5px;
}

.selectorContainer .active {
  background-color: lightgray;
}

.displayContainer {
  
}
