<div class='mainContainer'>
  <div class='selectorContainer'>
    <tbody>
      <tr>
        <td>
          <a routerLink='/countrydeath' routerLinkActive='active'>Country Deaths</a>
        </td>
      </tr>
      <tr>
        <td>
          <a routerLink='/countrydaily' routerLinkActive='active'>Country Daily</a>
        </td>
      </tr>
      <tr>
        <td>
          <a routerLink='/countrytesting' routerLinkActive='active'>Country Testing</a>
        </td>
      </tr>
      <tr>
        <td>
          <a routerLink='/statedeath' routerLinkActive='active'>Utah Daily Deaths</a>
        </td>
      </tr>
      <tr>
        <td>
          <a routerLink='/statehospitalized' routerLinkActive='active'>Utah Hospitalized Current</a>
        </td>
      </tr>
      <tr>
        <td>
          <a routerLink='/stateicu' routerLinkActive='active'>Utah ICU Current</a>
        </td>
      </tr>
    </tbody>
  </div>
  <div class='displayContainer'>
    <router-outlet></router-outlet>
  </div>
</div>
